.popup-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.655);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.popup {
  width: 30rem;
  max-width: 90%;
  margin: 3rem auto;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}

.popup-Header {
  background: #4f005f;
  padding: 1rem;
}

.popup-Header h2 {
  margin: 0;
  color: white;
}

.popup-action {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.popup-action button {
  width: 7rem;
  margin: 10px;
  height: 2rem;
  border-radius: 3px;
  border: none;
  background-color: rgb(87, 20, 20);
  color: white;
  cursor: pointer;
  user-select: none;
}

.popup-action button:hover {
  background-color: rgb(109, 44, 44);
  color: white;
}

.popup-content_amount {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.popup-content_amount h2 {
  margin: 0;
}

.no-items {
  position: relative;
  left: 30%;
}
