td {
    padding: '8px';
    height: 2rem;
    align-items: center;
}

.Addtobill_div {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 0.5rem;
    height: 2rem;
}

.Addtobill_button {
    width: 10rem;
    height: 1.5rem;
    border-radius: 3px;
    border: none;
    background-color: rgb(87, 20, 20);
    color: white;
    cursor: pointer;
    user-select: none;
    position: relative;
    left: 0;
}

.Addtobill_button:hover {
    background-color: rgb(109, 44, 44);
    color: white;
}

.Addtobill_button:disabled {
    background-color: rgb(188, 124, 124);
    color: rgb(183, 184, 186);
    cursor:default;
}